@model IEnumerable<Online_ITI_Book_Store.Models.useraccounts>

@{
    ViewData["Title"] = "Index";
}

<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"]</title>
    <!-- Add the Bootstrap CSS link -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

    <div class="container">
        <h1 class="mt-5">User Accounts</h1>
        <p>
            <a class="btn btn-primary mb-3" asp-action="Create">Create New</a>
        </p>
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th>@Html.DisplayNameFor(model => model.name)</th>
                    <th>@Html.DisplayNameFor(model => model.pass)</th>
                    <th>@Html.DisplayNameFor(model => model.role)</th>
                    <th>@Html.DisplayNameFor(model => model.email)</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.name)</td>
                        <td>@Html.DisplayFor(modelItem => item.pass)</td>
                        <td>@Html.DisplayFor(modelItem => item.role)</td>
                        <td>@Html.DisplayFor(modelItem => item.email)</td>
                        <td>
                            <a class="btn btn-sm btn-primary" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                            <a class="btn btn-sm btn-info" asp-action="Details" asp-route-id="@item.Id">Details</a>
                            <a class="btn btn-sm btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

</body>
</html>
